* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Noto Sans, Arial;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: right;
  align-items: center;
  background-color: rgb(12, 104, 15);
  gap: 1.5rem;
}

nav a {
  font-size: 18px;
  color: beige;
  text-decoration: none;
}

#logo {
  padding-right: 700px;
}

.home {
  background-color: beige;
  padding-bottom: 80px;
}

#cart {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.main {
  font-size: 105px;
  color: darkgreen;
  display: flex;
  justify-content: right;
  padding-top: 120px;
  padding-right: 140px;
}

.info {
  color: rgb(35, 146, 7);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 500px;
}

.info_ {
  color: rgb(35, 146, 7);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 500px;
  margin-top: -35px;
}

h4 {
  display: flex;
  justify-content: right;
  padding-right: 60px;
  color: green;
  font-size: 45px;
  margin-top: 40px;
}

#grocery {
  margin-top: -370px;
  height: 500px;
  padding-left: 50px;
  border-radius: 50%;
}

.product {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 169);
  padding-top: 50px;
  font-size: 50px;
  color: darkgreen;
}

.card {
  display: inline-block;
  margin-left: 90px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.products {
  background-color: rgb(233, 233, 169);
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: beige;
  color: green;
  margin-bottom: -10px;
  font-size: 50px;
}

.about-info {
  color: darkgreen;
  background-color: beige;
  padding: 10px;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.contact-info {
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: darkgreen;
  padding-left: 280px;
}

.contact {
  font-size: 50px;
  padding-bottom: 20px;
  background-color: rgb(233, 233, 169);
  color: darkgreen;
  padding-top: 20px;
  text-align: left;
}
